#fullscreen {
    position: relative;
    right: 5%;
    color: #f7f7f7;
}

#fullscreen2 {  
    position: relative;
    right: 5%;
    color: #f7f7f7;
}

#fullscreen3 {  
    position: relative;
    right: 5%;
    color: #f7f7f7;
}

#fullscreen4 {  
    position: relative;
    right: 5%;
    color: #f7f7f7;
}

#fullscreen5 {  
    position: relative;
    right: 5%;
    color: #f7f7f7;
}