<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="SideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
      <div class="heading">
        <h1>External Quality Data</h1>
    </div>
    
    <div class="new">
        <button mat-raised-button color="primary" routerLink="/eq">RFT</button>
        <button mat-raised-button color="primary" routerLink="/r5" >NC code</button>
        <button mat-raised-button color="accent">RFT vs WP</button>
        <button mat-raised-button color="primary" routerLink="/r7">Loops vs WP</button>
        <button mat-raised-button color="primary" routerLink="/r8">RFT vs Process Phase</button>
    </div>
    
    
    <div id="pivotgrid-demo">
        <dx-chart id="sales-chart">
          <dxo-common-series-settings type="bar">
            <dxo-label [visible]="true" backgroundColor="#c18e92"></dxo-label>
          </dxo-common-series-settings>
          <dxo-size [height]="250"></dxo-size>
          <dxo-adaptive-layout [width]="950"></dxo-adaptive-layout>
          <dxo-tooltip
            [enabled]="true"
            format="currency"
            [customizeTooltip]="customizeTooltip"
          ></dxo-tooltip>
        </dx-chart>
      
        <dx-pivot-grid
          id="pivotgrid"
          [allowSortingBySummary]="true"
          [allowFiltering]="true"
          [showBorders]="true"
          [allowSortingBySummary]="true"
          [showColumnGrandTotals]="false"
          [showRowGrandTotals]="false"
          [showRowTotals]="false"
          [showColumnTotals]="false"
          [dataSource]="pivotGridDataSource"
        >
          <dxo-field-chooser [enabled]="true" [height]="400"></dxo-field-chooser>
          <dxo-scrolling mode="virtual"></dxo-scrolling>
        </dx-pivot-grid>
      </div>
    
      <div class="button">
        <button mat-raised-button color="primary" >export data</button>
      </div>
    </mat-drawer-content>

</mat-drawer-container>


<app-footer></app-footer>

