<!-- <div>
    <app-widget-area></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br> -->

<mat-icon color="primary" id="fullscreen" (click)="fullscreen()">fullscreen</mat-icon>

<div class="home">
    <iframe id="role" title="Role Test - Home" width="100%" height="591.25" src="https://app.powerbi.com/reportEmbed?reportId=b4e81204-6cb7-4aad-97dd-880fd9b51fa7&autoAuth=true&ctid=9bc3d1cd-55ca-4e13-b5a2-a9e9deaeba3f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1kLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>



<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">

    <mat-card fxFlex="50">
        <app-widget-bar></app-widget-bar>
    </mat-card>

    <mat-card fxFlex="50">
        <app-widget-linesplit></app-widget-linesplit>
    </mat-card>

</div> -->

<!-- <br>

<mat-divider></mat-divider>

<br>

<div>
    <div>Line Chart</div>
    <div>Line Chart</div>
</div>

<div class="container">
    <div class="list">
        <button 
        [ngClass]="{shake: collapsed, reset: init && !collapsed}"
        (click)="toggle(menu)">
        
        <span [ngClass]="{rotate: collapsed, reset: init && !collapsed}">+</span>
    
    </button>
        <div class="menu" #menu>
            <span style="background-color: #ffcf7d;"></span>
            <span style="background-color: #ffa67f;"></span>
            <span style="background-color: #c09cfe;"></span>
            <span style="background-color: #04d9ff;"></span>
            <span style="background-color: #e8f19b;"></span>
        </div>
    </div>
    <svg>
        <filter id="liquid">
            <feGaussianBlur in="sourceGraphic" stddeviation="10" />
            <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
            />
            <feBlend in="SourceGraphic" in2="liquid" />
        </filter>
    </svg>
</div> -->



